Repository wala/WALA, pull requests merged in 2019-12, with the labels that each got.

#589 Correct slow-test filtering in all subprojects
  build.gradle
  com.ibm.wala.core.tests/build.gradle
Labels: gradle

#592 Upgrade to Gradle 6.0.1
  com.ibm.wala.cast.js.html.nu_validator/build.gradle
  com.ibm.wala.cast.js.nodejs.test/build.gradle
  com.ibm.wala.cast.test/build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: gradle

#600 Upgrade download plugin to latest v4.0.2 release
  buildSrc/build.gradle
Labels: gradle

#598 Fix com.ibm.wala.cast.java.ecj Eclipse deps
  com.ibm.wala.cast.java.ecj.test/build.gradle
  com.ibm.wala.cast.java.ecj/build.gradle
  com.ibm.wala.core/src/com/ibm/wala/ipa/cha/ClassHierarchy.java
  com.ibm.wala.core/src/com/ibm/wala/ipa/cha/ClassHierarchyException.java
Labels: gradle

#601 Small tweaks and improvements to top-level README.md
  README.md
Labels: enhancement

#602 Add infrastructure for identifying slow tests
  build.gradle
  run-time-trials
  summarize-time-trials
Labels: enhancement, gradle

#610 Remove more inter-module test dependencies
  com.ibm.wala.cast.java.test/META-INF/MANIFEST.MF
  com.ibm.wala.cast.js.html.nu_validator/META-INF/MANIFEST.MF
  com.ibm.wala.cast.js.html.nu_validator/build.gradle
  com.ibm.wala.cast.js.rhino.test/META-INF/MANIFEST.MF
  com.ibm.wala.cast.js.rhino.test/build.gradle
  com.ibm.wala.cast.js.test/META-INF/MANIFEST.MF
  com.ibm.wala.cast.js.test/build.gradle
  com.ibm.wala.cast.test/META-INF/MANIFEST.MF
  com.ibm.wala.cast.test/build.gradle
  com.ibm.wala.dalvik.test/META-INF/MANIFEST.MF
  com.ibm.wala.ide.jdt.test/META-INF/MANIFEST.MF
  com.ibm.wala.ide.tests/META-INF/MANIFEST.MF
Labels: gradle, maven

#612 Convert cast.java.test to use the main source set
  com.ibm.wala.cast.java.ecj.test/build.gradle
  com.ibm.wala.cast.java.test/build.gradle
  com.ibm.wala.cast.java.test/build.properties
  com.ibm.wala.cast.java.test/pom.xml
  com.ibm.wala.ide.jdt.test/build.gradle
Labels: gradle, maven

#614 Check for LambdaMetafactory <init> calls in LambdaMethodTargetSelector
  com.ibm.wala.core.testdata/src/lambda/CallMetaFactory.java
  com.ibm.wala.core.tests/src/com/ibm/wala/core/tests/callGraph/LambdaTest.java
  com.ibm.wala.core/src/com/ibm/wala/ipa/summaries/LambdaMethodTargetSelector.java
Labels: bug

#615 Fix recent regressions in SlowTest filtering
  build.gradle
Labels: bug, gradle

#618 Reduce the scope of Maven builds
  .travis.yml
  com.ibm.wala-repository/category.xml
  com.ibm.wala.cast.java.test.data/build.xml
  com.ibm.wala.cast.java.test.data/pom.xml
  com.ibm.wala.cast.java.test/build.gradle
  com.ibm.wala.cast.java.test/gradle.properties
  com.ibm.wala.ide.jdt.test/META-INF/MANIFEST.MF
  com.ibm.wala.ide.jdt.test/build.properties
  com.ibm.wala.ide.jdt.test/pom.xml
  com.ibm.wala.ide.jdt/META-INF/MANIFEST.MF
  com.ibm.wala.ide.jdt/build.properties
  com.ibm.wala.ide.jdt/pom.xml
  com.ibm.wala.ide.jsdt.tests/META-INF/MANIFEST.MF
  com.ibm.wala.ide.jsdt.tests/pom.xml
  com.ibm.wala.ide.jsdt/META-INF/MANIFEST.MF
  com.ibm.wala.ide.jsdt/build.properties
  com.ibm.wala.ide.jsdt/pom.xml
  com.ibm.wala.ide.tests/META-INF/MANIFEST.MF
  com.ibm.wala.ide.tests/pom.xml
  com.ibm.wala.ide/META-INF/MANIFEST.MF
  com.ibm.wala.ide/build.properties
  com.ibm.wala.ide/pom.xml
  com.ibm.wala.ide/src/com/ibm/wala/ide/client/EclipseProjectSourceAnalysisEngine.java
  com.ibm.wala_feature/.settings/org.eclipse.wst.validation.prefs
  com.ibm.wala_feature/build.properties
  com.ibm.wala_feature/feature.properties
  com.ibm.wala_feature/feature.xml
  com.ibm.wala_feature/pom.xml
  pom.xml
  travis/before-install-maven
  travis/install-maven
  travis/script-maven
Labels: gradle, maven

#634 Avoid hard-coded paths to source files
  com.ibm.wala.cast.java.ecj/build.gradle
  com.ibm.wala.cast.java.test.data/build.gradle
  com.ibm.wala.cast.js.nodejs/build.gradle
  com.ibm.wala.cast.js.test.data/build.gradle
  com.ibm.wala.cast.test/xlator_test/build.gradle
Labels: gradle
