Repository wala/WALA, pull requests merged in 2019-05, with the labels that each got.

#464 Update Gradle to version 5.4.1
  gradle/wrapper/gradle-wrapper.properties
Labels: gradle

#465 Fix likely bug in array size calculation
  com.ibm.wala.cast/source/java/com/ibm/wala/cast/ipa/callgraph/ScriptEntryPoints.java
Labels: bug

#463 Switch to maven Gradle plugin
  build.gradle
  com.ibm.wala.cast.java.ecj/build.gradle
  com.ibm.wala.cast.java.ecj/gradle.properties
  com.ibm.wala.cast.java.test/build.gradle
  com.ibm.wala.cast.java/build.gradle
  com.ibm.wala.cast.java/gradle.properties
  com.ibm.wala.cast.js.rhino.test/build.gradle
  com.ibm.wala.cast.js.rhino/build.gradle
  com.ibm.wala.cast.js.rhino/gradle.properties
  com.ibm.wala.cast.js.test/build.gradle
  com.ibm.wala.cast.js/build.gradle
  com.ibm.wala.cast.js/gradle.properties
  com.ibm.wala.cast.test/build.gradle
  com.ibm.wala.cast/build.gradle
  com.ibm.wala.cast/gradle.properties
  com.ibm.wala.core.tests/build.gradle
  com.ibm.wala.core/build.gradle
  com.ibm.wala.core/gradle.properties
  com.ibm.wala.dalvik.test/build.gradle
  com.ibm.wala.dalvik/build.gradle
  com.ibm.wala.dalvik/gradle.properties
  com.ibm.wala.scandroid/build.gradle
  com.ibm.wala.scandroid/gradle.properties
  com.ibm.wala.shrike/build.gradle
  com.ibm.wala.shrike/gradle.properties
  com.ibm.wala.util/build.gradle
  com.ibm.wala.util/gradle.properties
  gradle-mvn-push.gradle
  gradle.properties
Labels: gradle

#481 Fix sample cup download in Maven build
  com.ibm.wala.dalvik.test/build.xml
Labels: maven

#494 Use "==" to compare Gradle strings
  gradle-mvn-push.gradle
Labels: gradle

#495 Relocate some jar files and simplify "clean*" tasks
  com.ibm.wala.core.testdata/build.gradle
Labels: gradle

#505 Reorganize sections of top-level Gradle build script
  build.gradle
Labels: gradle

#507 Remove redundant Javadoc task configuration
  build.gradle
Labels: gradle

#512 Factor out common code for finding JVM library
  build.gradle
Labels: gradle

#513 Remove redundant assignments to project version and group
  gradle-mvn-push.gradle
Labels: gradle
