Repository wala/WALA, pull requests merged in 2020-03, with the labels that each got.

#712 Move "hello_hash.jar" out of "build" and commit to repo
  .travis.yml
  build.gradle
  com.ibm.wala.core/build.gradle
  com.ibm.wala.core/ocaml/hello_hash.jar
Labels: cleanup, gradle

#714 Travis CI job housekeeping
  .travis.yml
  travis/script-gradle
Labels: bug

#718 Upgrade to Gradle 6.2.2
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Labels: gradle

#723 Simple replacement of "final def" with "final"
  build.gradle
  com.ibm.wala.cast.java.ecj/build.gradle
  com.ibm.wala.cast.java.test.data/build.gradle
  com.ibm.wala.cast.js.nodejs/build.gradle
  com.ibm.wala.cast.js/build.gradle
  com.ibm.wala.cast/build.gradle
  com.ibm.wala.cast/cast/build.gradle
  com.ibm.wala.cast/smoke_main/build.gradle
  com.ibm.wala.core/build.gradle
  com.ibm.wala.dalvik/build.gradle
  com.ibm.wala.util/build.gradle
Labels: cleanup, gradle

#719 Travis CI jobs no longer need realpath or xvfb
  .travis.yml
  travis/script-gradle
  travis/script-maven
Labels: cleanup

#727 Change NodeJS download URL to be more robust
  com.ibm.wala.cast.js.nodejs/build.gradle
Labels: gradle

#730 Simplify installAndroidSDK task
  com.ibm.wala.dalvik/build.gradle
Labels: cleanup, gradle

#729 Cleanup and improved lazines for Kawa-related tasks
  com.ibm.wala.core/build.gradle
Labels: cleanup, gradle

#737 Fix "NO-SOURCE" regression in aggregatedJavadoc Gradle task
  build.gradle
Labels: bug, gradle
