Repository wala/WALA, pull requests merged in 2020-01, with the labels that each got.

#640 Remove an unnecessary runtime dependency
  com.ibm.wala.ide.tests/META-INF/MANIFEST.MF
  com.ibm.wala.ide.tests/build.gradle
Labels: cleanup, gradle

#641 Break potential dependency cycle between `com.ibm.wala.testutil` and `com.ibm.wala.core`
  build.gradle
  com.ibm.wala.cast.js.rhino.test/build.gradle
  com.ibm.wala.cast.js.test/build.gradle
  com.ibm.wala.core.tests/build.gradle
  com.ibm.wala.dalvik.test/build.gradle
  com.ibm.wala.testutil/build.gradle
  com.ibm.wala.testutil/src/testFixtures/java/com/ibm/wala/core/tests/ir/AnnotationTest.java
  com.ibm.wala.testutil/src/testFixtures/java/com/ibm/wala/core/tests/shrike/DynamicCallGraphTestBase.java
  com.ibm.wala.testutil/src/testFixtures/java/com/ibm/wala/core/tests/util/WalaTestCase.java
  com.ibm.wala.testutil/src/testFixtures/java/com/ibm/wala/tests/util/SlowTests.java
  com.ibm.wala.testutil/src/testFixtures/resources/JLex.txt
  com.ibm.wala.testutil/src/testFixtures/resources/bcel.txt
  com.ibm.wala.testutil/src/testFixtures/resources/java_cup.txt
Labels: cleanup, gradle

#645 Set resource path *before* deriving other paths from it
  com.ibm.wala.cast.js.nodejs/build.gradle
Labels: gradle

#646 Remove obsolete Maven-supporting Gradle task
  com.ibm.wala.cast/.gitignore
  com.ibm.wala.cast/build.gradle
Labels: cleanup, gradle, maven

#651 fix error message
  com.ibm.wala.core/src/com/ibm/wala/examples/drivers/PDFSDG.java
Labels: bug

#654 Add Gradle versions plugin
  build.gradle
Labels: enhancement, gradle

#659 Log stdout and stderr from ECJ run
  com.ibm.wala.cast.java.ecj/build.gradle
Labels: gradle

#661 Don't save a CallGraph we never use in the future
  com.ibm.wala.core.tests/src/com/ibm/wala/core/tests/callGraph/LambdaTest.java
Labels: cleanup

#665 Try to pick a suitable JDK for Android SDK setup
  com.ibm.wala.dalvik/build.gradle
Labels: gradle
