Repository wala/WALA, pull requests merged in 2023-08, with the labels that each got.

#1307 Stop using Project.getBuildDir()
  build-logic/src/main/kotlin/com/ibm/wala/gradle/java.gradle.kts
  build-logic/src/main/kotlin/com/ibm/wala/gradle/publishing.gradle.kts
Labels: gradle

#1310 Upgrade to Gradle 8.3
  build-logic/src/main/kotlin/com/ibm/wala/gradle/VerifiedDownload.kt
  build.gradle.kts
  cast/java/test/data/build.gradle.kts
  cast/js/build.gradle.kts
  cast/js/nodejs/build.gradle.kts
  core/build.gradle.kts
  dalvik/build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: gradle, dependencies

#1311 Update Gradle Goomph plugin
  gradle/libs.versions.toml
Labels: dependencies
